<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.symedsoft.insurance.mapper.File2TableMapper">
    <insert id = "addDataIntoTable">
        INSERT ALL
        <foreach collection="recordList" item="record" index="index" separator=" " >
            INTO ${tableName}  VALUES (
            <foreach collection="record" item="val" index="index" separator="," >
                #{val}
            </foreach>
            )
        </foreach>
        SELECT 1 FROM DUAL
    </insert>

    <select id="queryVersionByTable" parameterType="string" resultType="string">
        select nvl(max(version_name) , '0') from  ${tableName}
    </select>

    <update id="modifyVerByTable">
        update insur_table_master set ver = #{version} where table_name = #{tableName}
    </update>

    <select id="queryPrimaryKeyByTableName" parameterType="string" resultType="string">
        select  a.column_name
        from all_cons_columns a, all_constraints b
        where a.constraint_name = b.constraint_name
          and b.constraint_type = 'P'
          and a.table_name = UPPER(#{tableName})
    </select>

    <delete id="delAllTableData">
        delete from ${tableName} where 1=1 and ${primaryKey} in
        <foreach collection="ids" item="id" index="index" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>

    <delete id="delTableDataById">
        delete from ${tableName} where 1=1 and ${primaryKey} = #{id}
    </delete>

    <insert id="addDataIntoTableByOne">
        INSERT INTO ${tableName}  VALUES (
        <foreach collection="record" item="val" index="index" separator="," >
            #{val}
        </foreach>
        )
    </insert>
</mapper>