<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.symedsoft.insurance.mapper.UploadMapper">
    <select id="getSerialNo" resultType="java.lang.String">
        select to_char(sysdate, 'yyyymmddhh24miss') ||
           lpad(to_char(insur_serial_seq.nextval), 4, '0')
      from dual
    </select>
    <select id="selectSettlInfo" resultType="map">
        SELECT distinct A.MDTRT_ID,SETL_ID,PSN_NAME,GEND,BRDY,NATY,PSN_CERT_TYPE,CERTNO,INSUTYPE,AGE,TRUNC(SYSDATE-BRDY) AGE_DAY,PSN_TYPE,MED_TYPE,SETL_TIME,
        PSN_PART_AMT, PSN_CASH_PAY,ACCT_PAY,HIFP_PAY,CVLSERV_PAY,HIFES_PAY+HIFMI_PAY+HIFOB_PAY DLLP,MAF_PAY,ACCT_PAY,B.INP_NO,B.MAILING_ADDRESS,B.PHONE_NUMBER_HOME
        FROM INP_SETTLE_SETLINFO_OUT A,PAT_MASTER_INDEX B
        WHERE A.PATIENT_ID=#{patientid} AND A.VISIT_ID=#{visitId}
        AND A.PATIENT_ID=B.PATIENT_ID
        AND A.CANCEL_FLAG IS NULL
    </select>
    <select id="selectInsurPatienInfo" resultType="map">
        select insuplc_admdvs from get_patient_insuinfo_out where patient_id=#{patientid}
    </select>
    <select id="selectInpAdmintInfo" resultType="map">
        select adm_dept_codg from inp_admit_mdtrtinfo_in a,inp_admit_result_out b
        where a.serial_no=b.serial_no and b.cancel_flag='2'
        and b.PATIENT_ID=#{patientid} AND b.VISIT_ID=#{visitId}
    </select>
    <select id="selectInpLeaveDiseinfo" resultType="map">
        select diag_type,maindiag_flag,diag_code,diag_name from inp_leave_diseinfo_in where PATIENT_ID=#{patientid} AND VISIT_ID=#{visitId} and cancel_flag is null
    </select>

    <select id="selectDetailInfo" resultType="map">
        select med_chrgitm_type,
        sum(costs) costs,
        sum(case chrgitm_lv when '01' then  costs else 0 end) JAY,
        sum(case chrgitm_lv when '02' then  costs else 0 end) YI,
        sum(case chrgitm_lv when '03' then  costs else 0 end) ZI,
        sum(case chrgitm_lv when  null then  costs else 0 end) OTH
        from (select sum(det_item_fee_sumamt) costs, med_chrgitm_type, chrgitm_lv
        from inp_detail_up_result_out
        where patient_id = #{patientid}
        and visit_id = #{visitId}
        group by med_chrgitm_type, chrgitm_lv)
        group by med_chrgitm_type
    </select>

    <select id="selectOperationInfo" resultType="map">
        select (case operation_no when 1 then 1 else 2 end) oprn_oprt_type,
           operation_desc oprn_oprt_name,
           operation_code oprn_oprt_code,
           operating_date oprn_oprt_date,
           operator oper_dr_name
        from operation
        where operation_code is not null and operating_date is not null and operator is not null
        and patient_id=#{patientid} and visit_id=#{visitId}
    </select>
    <insert id="insertSetlInfo">
        insert into INSUR_RCPT_ITEM_UP_SETLINFO_IN
          (ID,
           SERIAL_NO,
           PATIENT_ID,
           VISIT_ID,
           VISIT_DATE,
           OPERATE_NO,
           MDTRT_ID,
           SETL_ID,
           FIXMEDINS_NAME,
           FIXMEDINS_CODE,
           HI_SETL_LV,
           HI_NO,
           MEDCASNO,
           DCLA_TIME,
           PSN_NAME,
           GEND,
           BRDY,
           AGE,
           NTLY,
           NWB_AGE,
           NATY,
           PATN_CERT_TYPE,
           CERTNO,
           PRFS,
           CURR_ADDR,
           EMP_NAME,
           EMP_ADDR,
           EMP_TEL,
           POSCODE,
           CONER_NAME,
           PATN_RLTS,
           CONER_ADDR,
           CONER_TEL,
           HI_TYPE,
           INSUPLC,
           SP_PSN_TYPE,
           NWB_ADM_TYPE,
           NWB_BIR_WT,
           NWB_ADM_WT,
           OPSP_DIAG_CATY,
           OPSP_MDTRT_DATE,
           IPT_MED_TYPE,
           ADM_WAY,
           TRT_TYPE,
           ADM_TIME,
           ADM_CATY,
           REFLDEPT_DEPT,
           DSCG_TIME,
           DSCG_CATY,
           ACT_IPT_DAYS,
           OTP_WM_DISE,
           WM_DISE_CODE,
           OTP_TCM_DISE,
           TCM_DISE_CODE,
           DIAG_CODE_CNT,
           MAINDIAG_FLAG,
           OPRN_OPRT_CODE_CNT,
           VENT_USED_DURA,
           PWCRY_BFADM_COMA_DURA,
           PWCRY_AFADM_COMA_DURA,
           BLD_CAT,
           BLD_AMT,
           BLD_UNT,
           SPGA_NURSCARE_DAYS,
           LV1_NURSCARE_DAYS,
           SCD_NURSCARE_DAYS,
           LV3_NURSCARE_DAYS,
           DSCG_WAY,
           ACP_MEDINS_NAME,
           ACP_OPTINS_CODE,
           BILL_CODE,
           BILL_NO,
           BIZ_SN,
           DAYS_RINP_FLAG_31,
           DAYS_RINP_PUP_31,
           CHFPDR_NAME,
           CHFPDR_CODE,
           SETL_BEGN_DATE,
           SETL_END_DATE,
           PSN_SELFPAY,
           PSN_OWNPAY,
           ACCT_PAY,
           PSN_CASHPAY,
           HI_PAYMTD,
           HSORG,
           HSORG_OPTER,
           MEDINS_FILL_DEPT,
           MEDINS_FILL_PSN,
           UPLOAD_FLAG)
        values
          (
            sys_guid(),
            #{SERIAL_NO},
            #{PATIENT_ID},
            #{VISIT_ID},
            #{VISIT_DATE},
            #{OPERATE_NO},
            #{MDTRT_ID},
            #{SETL_ID},
            #{FIXMEDINS_NAME},
            #{FIXMEDINS_CODE},
            #{HI_SETL_LV},
            #{HI_NO},
            #{MEDCASNO},
            #{DCLA_TIME},
            #{PSN_NAME},
            #{GEND},
            #{BRDY},
            #{AGE},
            #{NTLY},
            #{NWB_AGE},
            #{NATY},
            #{PATN_CERT_TYPE},
            #{CERTNO},
            #{PRFS},
            #{CURR_ADDR},
            #{EMP_NAME},
            #{EMP_ADDR},
            #{EMP_TEL},
            #{POSCODE},
            #{CONER_NAME},
            #{PATN_RLTS},
            #{CONER_ADDR},
            #{CONER_TEL},
            #{HI_TYPE},
            #{INSUPLC},
            #{SP_PSN_TYPE},
            #{NWB_ADM_TYPE},
            #{NWB_BIR_WT},
            #{NWB_ADM_WT},
            #{OPSP_DIAG_CATY},
            #{OPSP_MDTRT_DATE},
            #{IPT_MED_TYPE},
            #{ADM_WAY},
            #{TRT_TYPE},
            #{ADM_TIME},
            #{ADM_CATY},
            #{REFLDEPT_DEPT},
            #{DSCG_TIME},
            #{DSCG_CATY},
            #{ACT_IPT_DAYS},
            #{OTP_WM_DISE},
            #{WM_DISE_CODE},
            #{OTP_TCM_DISE},
            #{TCM_DISE_CODE},
            #{DIAG_CODE_CNT},
            #{MAINDIAG_FLAG},
            #{OPRN_OPRT_CODE_CNT},
            #{VENT_USED_DURA},
            #{PWCRY_BFADM_COMA_DURA},
            #{PWCRY_AFADM_COMA_DURA},
            #{BLD_CAT},
            #{BLD_AMT},
            #{BLD_UNT},
            #{SPGA_NURSCARE_DAYS},
            #{LV1_NURSCARE_DAYS},
            #{SCD_NURSCARE_DAYS},
            #{LV3_NURSCARE_DAYS},
            #{DSCG_WAY},
            #{ACP_MEDINS_NAME},
            #{ACP_OPTINS_CODE},
            #{BILL_CODE},
            #{BILL_NO},
            #{BIZ_SN},
            #{DAYS_RINP_FLAG_31},
            #{DAYS_RINP_PUP_31},
            #{CHFPDR_NAME},
            #{CHFPDR_CODE},
            #{SETL_BEGN_DATE},
            #{SETL_END_DATE},
            #{PSN_SELFPAY},
            #{PSN_OWNPAY},
            #{ACCT_PAY},
            #{PSN_CASHPAY},
            #{HI_PAYMTD},
            #{HSORG},
            #{HSORG_OPTER},
            #{MEDINS_FILL_DEPT},
            #{MEDINS_FILL_PSN},
            #{UPLOAD_FLAG})
    </insert>
    <insert id="insertPayInfo">
        insert into INSUR_RCPT_ITEM_UP_PAYINFO_IN
          (ID,
           SERIAL_NO,
           PATIENT_ID,
           VISIT_ID,
           VISIT_DATE,
           OPERATE_NO,
           FUND_PAY_TYPE,
           FUND_PAYAMT)
        values
          (sys_guid(), #{SERIAL_NO}, #{PATIENT_ID}, #{VISIT_ID}, #{VISIT_DATE}, #{OPERATE_NO}, #{FUND_PAY_TYPE}, #{FUND_PAYAMT})
    </insert>
    <insert id="insertDiseInfo">
        insert into INSUR_RCPT_ITEM_UP_DISEINFO_IN
          (ID,
           SERIAL_NO,
           PATIENT_ID,
           VISIT_ID,
           VISIT_DATE,
           OPERATE_NO,
           DIAG_TYPE,
           DIAG_CODE,
           DIAG_NAME,
           ADM_COND_TYPE,
           MAINDIAG_FLAG)
        values
          (sys_guid(),
           #{SERIAL_NO},
           #{PATIENT_ID},
           #{VISIT_ID},
           #{VISIT_DATE},
           #{OPERATE_NO},
           #{DIAG_TYPE},
           #{DIAG_CODE},
           #{DIAG_NAME},
           #{ADM_COND_TYPE},
           #{MAINDIAG_FLAG})
    </insert>
    <insert id="insertItemInfo">
        insert into INSUR_RCPT_ITEM_UP_ITEMINFO_IN
          (ID,
           SERIAL_NO,
           PATIENT_ID,
           VISIT_ID,
           VISIT_DATE,
           OPERATE_NO,
           MED_CHRGITM,
           AMT,
           CLAA_SUMFEE,
           CLAB_AMT,
           FULAMT_OWNPAY_AMT,
           OTH_AMT)
        values
          (sys_guid(),
           #{SERIAL_NO},
           #{PATIENT_ID},
           #{VISIT_ID},
           #{VISIT_DATE},
           #{OPERATE_NO},
           #{MED_CHRGITM},
           #{AMT},
           #{CLAA_SUMFEE},
           #{CLAB_AMT},
           #{FULAMT_OWNPAY_AMT},
           #{OTH_AMT})
    </insert>
    <insert id="insertOpspDise">
        insert into INSUR_RCPT_ITEM_UP_OPSPDISE_IN
          (ID,
           SERIAL_NO,
           PATIENT_ID,
           VISIT_ID,
           VISIT_DATE,
           OPERATE_NO,
           DIAG_NAME,
           DIAG_CODE,
           OPRN_OPRT_NAME,
           OPRN_OPRT_CODE)
        values
          (sys_guid(),
           #{SERIAL_NO},
           #{PATIENT_ID},
           #{VISIT_ID},
           #{VISIT_DATE},
           #{OPERATE_NO},
           #{DIAG_NAME},
           #{DIAG_CODE},
           #{OPRN_OPRT_NAME},
           #{OPRN_OPRT_CODE})
    </insert>
    <insert id="insertOprnInfo">
        insert into INSUR_RCPT_ITEM_UP_OPRNINFO_IN
          (ID,
           SERIAL_NO,
           PATIENT_ID,
           VISIT_ID,
           VISIT_DATE,
           OPERATE_NO,
           OPRN_OPRT_TYPE,
           OPRN_OPRT_NAME,
           OPRN_OPRT_CODE,
           OPRN_OPRT_DATE,
           ANST_WAY,
           OPER_DR_NAME,
           OPER_DR_CODE,
           ANST_DR_NAME,
           ANST_DR_CODE)
        values
          (sys_guid(),
           #{SERIAL_NO},
           #{PATIENT_ID},
           #{VISIT_ID},
           #{VISIT_DATE},
           #{OPERATE_NO},
           #{OPRN_OPRT_TYPE},
           #{OPRN_OPRT_NAME},
           #{OPRN_OPRT_CODE},
           #{OPRN_OPRT_DATE},
           #{ANST_WAY},
           #{OPER_DR_NAME},
           #{OPER_DR_CODE},
           #{ANST_DR_NAME},
           #{ANST_DR_CODE})
    </insert>
    <insert id="insertIcuInfo">
        insert into INSUR_RCPT_ITEM_UP_ICUINFO_IN
          (ID,
           SERIAL_NO,
           PATIENT_ID,
           VISIT_ID,
           VISIT_DATE,
           OPERATE_NO,
           SCS_CUTD_WARD_TYPE,
           SCS_CUTD_INPOOL_TIME,
           SCS_CUTD_EXIT_TIME,
           SCS_CUTD_SUM_DURA)
        values
          (sys_guid(),
           #{SERIAL_NO},
           #{PATIENT_ID},
           #{VISIT_ID},
           #{VISIT_DATE},
           #{OPERATE_NO},
           #{SCS_CUTD_WARD_TYPE},
           #{SCS_CUTD_INPOOL_TIME},
           #{SCS_CUTD_EXIT_TIME},
           #{SCS_CUTD_SUM_DURA})
    </insert>
    <select id="insert4401procedure" statementType="CALLABLE" parameterType="map">
            <![CDATA[
            {call insursyjk.drg_data(
            #{hospCode,mode=IN,jdbcType=VARCHAR},
            #{operateNo,mode=IN,jdbcType=VARCHAR},
            #{stDate,mode=IN,jdbcType=VARCHAR},
            #{edDate,mode=IN,jdbcType=VARCHAR},
            #{ret,mode=OUT,jdbcType=INTEGER}
            )}
        ]]>
    </select>
    <select id="callProcedure" statementType="CALLABLE" parameterType="map">
        <![CDATA[
            {call ${procedureName}(
            #{hospCode,mode=IN,jdbcType=VARCHAR},
            #{operateNo,mode=IN,jdbcType=VARCHAR},
            #{stDate,mode=IN,jdbcType=VARCHAR},
            #{edDate,mode=IN,jdbcType=VARCHAR},
            #{ret,mode=OUT,jdbcType=INTEGER}
            )}
        ]]>
    </select>
    <select id="getConfig" resultType="java.lang.String">
        select node_table from insur_business_config where businessid=#{interfaceCode} and config_type=2 and io_flag='I' and rownum=1
    </select>
    <select id="getInterfaceSerialNo" resultType="java.lang.String">
        select distinct serial_no from ${configTableName} where (upload_flag is null or upload_flag='0') and rownum &lt; 10
    </select>
    <select id="get3101Master" resultType="map">
        SELECT * FROM DETAIL_AUDIT_BF_DATA_IN WHERE UPLOAD_FLAG = '0'
    </select>

    <select id="getDetailAuditBfPatientIn" resultType="map">
        SELECT * FROM DETAIL_AUDIT_BF_PATIENT_IN WHERE (UPLOAD_FLAG IN ('0','2') or UPLOAD_FLAG IS NULL)
        and serial_no=#{serialNo}
    </select>


    <select id="getDetailAuditBfPatientInAfter" resultType="map">
        SELECT * FROM DETAIL_AUDIT_ING_PATIENT_IN WHERE UPLOAD_FLAG IN ('0','2') or UPLOAD_FLAG IS NULL
        and serial_no=#{serialNo}
    </select>

    <select id="getDetailAuditBfDiagnoseIn" resultType="map">
        SELECT * FROM DETAIL_AUDIT_BF_DIAGNOSE_IN WHERE serial_no = #{serialNo,jdbcType=VARCHAR}
    </select>

    <select id="getDetailAuditAfterDiagnoseIn" resultType="map">
        SELECT * FROM DETAIL_AUDIT_ING_DIAGNOSE_IN WHERE serial_no = #{serialNo,jdbcType=VARCHAR} and patient_id = #{patientId,jdbcType=VARCHAR} and visit_id = #{visitId}
    </select>
    <select id="getDetailAuditBfEncounterIn" resultType="map">
        SELECT * FROM DETAIL_AUDIT_BF_ENCOUNTER_IN WHERE serial_no = #{serialNo,jdbcType=VARCHAR}
    </select>

    <select id="getDetailAuditBfEncounterAfter" resultType="map">
        SELECT * FROM DETAIL_AUDIT_ING_ENCOUNTER_IN WHERE serial_no = #{serialNo,jdbcType=VARCHAR} and patient_id = #{patientId,jdbcType=VARCHAR} and mdtrt_id = #{mdtrtId}
    </select>


    <select id="getDetailAuditBfOperationIn" resultType="map">
        SELECT * FROM DETAIL_AUDIT_BF_OPERATION_IN WHERE serial_no = #{serialNo,jdbcType=VARCHAR}
    </select>


    <select id="getDetailAuditAfterOperationIn" resultType="map">
        SELECT * FROM DETAIL_AUDIT_ING_OPERATION_IN WHERE serial_no = #{serialNo,jdbcType=VARCHAR} and patient_id = #{patientId,jdbcType=VARCHAR} and visit_id = #{visitId}
    </select>

    <select id="getDetailAuditBfOrderIn" resultType="map">
        SELECT * FROM DETAIL_AUDIT_BF_ORDER_IN WHERE serial_no = #{serialNo,jdbcType=VARCHAR}
    </select>

    <select id="getDetailAuditAfterOrderIn" resultType="map">
        SELECT * FROM DETAIL_AUDIT_ING_ORDER_IN WHERE serial_no = #{serialNo,jdbcType=VARCHAR} and patient_id = #{patientId,jdbcType=VARCHAR} and visit_id = #{visitId}
    </select>
    <update id="update3101Status">
        UPDATE DETAIL_AUDIT_BF_PATIENT_IN SET upload_flag = #{uploadFlag} WHERE serial_no = #{serialNo,jdbcType=VARCHAR} and patient_id = #{patientId,jdbcType=VARCHAR}
    </update>

    <update id="update3102Status">
        UPDATE DETAIL_AUDIT_ING_PATIENT_IN SET upload_flag = #{uploadFlag} WHERE serial_no = #{serialNo,jdbcType=VARCHAR} and patient_id = #{patientId,jdbcType=VARCHAR}
    </update>
    <select id="getProcedureRecord" resultType="map">
        select to_char(start_date,'yyyy-mm-dd hh24:mi:ss') start_date, to_char(end_date,'yyyy-mm-dd hh24:mi:ss') end_date from INSUR_Procedure_RECORD where Procedure_name=#{procedureName}
    </select>
    <insert id="insertProcedureRecord">
        insert into INSUR_Procedure_RECORD values(#{procedureName},to_date(#{stDate},'yyyy-mm-dd hh24:mi:ss'),to_date(#{edDate},'yyyy-mm-dd hh24:mi:ss'))
    </insert>
    <update id="updateProcedureRecord">
        update INSUR_Procedure_RECORD set start_date=to_date(#{stDate},'yyyy-mm-dd hh24:mi:ss'),end_date=to_date(#{edDate},'yyyy-mm-dd hh24:mi:ss') where procedure_name=#{procedureName}
    </update>
    <update id="updateInterfaceTableBySerialNo">
        update ${configTableName} set upload_flag=#{flag} where serial_no=#{serialNo}
    </update>
    <update id="updateInterfaceTableById">
        update ${configTableName} set upload_flag=#{flag} where id=#{id}
    </update>
    <select id="getInterfaceId" resultType="java.lang.String">
        select id from ${configTableName} where (upload_flag is null or upload_flag='0') and rownum &lt; 10
    </select>
    <update id="updateInpSetFlag">
        update INP_SETTLE_SETLINFO_OUT set upload_flag='1' where patient_id=#{patientId} and visit_id=#{visitId}
    </update>
    <select id="selectInpSetlePatient" resultType="map">
        select patient_id,visit_id from INP_SETTLE_SETLINFO_OUT where cancel_flag is null and upload_flag is null and rownum &lt; 10
    </select>
    <insert id="insertDetailAuditBfResultOut">
        insert into DETAIL_AUDIT_BF_RESULT_OUT(id,serial_no,patient_id,visit_id,visit_date,operate_no,
        jr_id,rule_id,rule_name,vola_cont,patn_id,mdtrt_id,vola_amt,vola_amt_stas,sev_deg,vola_evid,
        vola_bhvr_type,task_id)
        values
        (sys_guid(),#{serial_no},#{patient_id},#{visit_id},#{visit_date},#{operate_no},
        #{jr_id},#{rule_id},#{rule_name},#{vola_cont},#{patn_id},#{mdtrt_id},#{vola_amt},#{vola_amt_stas},#{sev_deg},#{vola_evid},
        #{vola_bhvr_type},#{task_id})
    </insert>
    <insert id="insertDetailAuditBfDetailOut">
        insert into DETAIL_AUDIT_BF_DETAIL_OUT(id,serial_no,patient_id,visit_id,visit_date,operate_no,
        jrd_id,mdtrt_id,rx_id,vola_item_type,vola_amt)
        values(sys_guid(),#{serial_no},#{patient_id},#{visit_id},#{visit_date},#{operate_no},
        #{jr_id},#{mdtrt_id},#{rx_id},#{vola_item_type},#{vola_amt})
    </insert>
    <insert id="insertDetailAuditAfterResultOut">
        insert into DETAIL_AUDIT_ING_RESULT_OUT(id,serial_no,patient_id,visit_id,visit_date,operate_no,
        jr_id,rule_id,rule_name,vola_cont,patn_id,mdtrt_id,vola_amt,vola_amt_stas,sev_deg,vola_evid,
        vola_bhvr_type,task_id)
        values
        (sys_guid(),#{serial_no},#{patient_id},#{visit_id},#{visit_date},#{operate_no},
        #{jr_id},#{rule_id},#{rule_name},#{vola_cont},#{patn_id},#{mdtrt_id},#{vola_amt},#{vola_amt_stas},#{sev_deg},#{vola_evid},
        #{vola_bhvr_type},#{task_id})
    </insert>
    <insert id="insertDetailAuditAfterDetailOut">
        insert into DETAIL_AUDIT_ING_DETAIL_OUT(id,serial_no,patient_id,visit_id,visit_date,operate_no,
        jrd_id,mdtrt_id,rx_id,vola_item_type,vola_amt)
        values(sys_guid(),#{serial_no},#{patient_id},#{visit_id},#{visit_date},#{operate_no},
        #{jr_id},#{mdtrt_id},#{rx_id},#{vola_item_type},#{vola_amt})
    </insert>
</mapper>